@{
    ViewData["Title"] = "Stock";
    Layout = Layout;
}
<body>
@* Button to add article *@
<div class="btn-add-article" onclick="">
    <p>Add Article</p>
</div>
@* searchbar *@
<input type="text" class="search-bar" placeholder="Type to start searching...">
@*Sheet containing info about articles*@
<div class="sheet-top">
    <div class="name-column-top">Name</div>
    <div class="id-column-top">ID</div>
    <div class="quantity-column-top">Quantity</div>
    <div class="category-column-top">Category</div>
    <div class="location-column-top">Location</div>
</div>
<div class="article-sheet">
     
    @*For loop to create divs containing article info*@
    @for (int i = 0;
        i < 30;
        i++)
    {
        <div class="name-column">Placeholder</div>
        <div class="id-column">Placeholder</div>
        <div class="quantity-column">Placeholder</div>
        <div class="category-column">Placeholder</div>
        <div class="location-column">Placeholder</div>
    }
</div>
<div class="new-article-modal" id="new-article-modal">
    <div class="new-article-modal-image-box">
        <img src="~/images/vector-Search.png" alt="Search-Icon">
    </div>
    <input class="new-article-modal-name-input" placeholder="Name">
    <input class="new-article-modal-category-input" placeholder="Category">
    <input class="new-article-modal-price-input" placeholder="Price">
    <textarea class="new-article-modal-description-input" placeholder="Description"> </textarea>
    <div class="exit-cross-container">
        <img src="~/images/exit-Cross.png" alt="Exit-Cross" onclick="hideElement('new-article-modal')">
    </div>
</div>
</body>